body {
  margin: 0;
}

header {
  display: flex;
  padding: 0 30px;
  background: black;
  color: white;
}

nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

ul {
  font-size: larger;
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  color: white;
}

#main {
  margin: 20px auto;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  row-gap: 30px;
}

.recipe-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-image {
  width: 30vh;
  height: 30vh;
}

.text-container {
  display: flex;
  align-items: center;
  width: 90%;
}

.recipe-heading {
  margin-right: auto;
}

.heart {
  color: red;
  font-size: 30px;
  cursor: pointer;
}

.comments-button,
.order-button {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  background-color: white;
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: center;
  gap: 10%;
  color: white;
  background-color: black;
}
