body {
  margin: 0;
}

header {
  display: flex;
  padding: 0 30px;
  background: black;
  color: white;
}

nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

ul {
  font-size: larger;
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  gap: 10%;
  color: white;
  background-color: black;
}
